[push]
    default = simple
	followTags = true

[pull]
    ff = only
	rebase = true

[user]
    name = Slavfox
    email = slavfoxman@gmail.com

[core]
    editor = vim
	whitespace = trailing-space,space-before-tab
    excludesfile = ~/.gitignore
	autocrlf = input

[color]
	ui = true

[color "branch"]
    current = yellow bold
    local = green bold
    remote = cyan bold

[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
    whitespace = red reverse

[color "status"]
    added = green bold
    changed = yellow bold
    untracked = red bold

[diff]
    tool = vimdiff
	renames = copies
	mnemonicprefix = true

[difftool]
    prompt = false

[github]
    user = pkumar
    token = token

[gitflow "prefix"]
    feature = feature-
    release = release-
    hotfix = hotfix-
    support = support-
    versiontag = v

[alias]
    lg = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
    lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all

    graph = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    grapha = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --all
    ignore = update-index --assume-unchanged
    ignored = ls-files -v | grep "^[[:lower:]]"
    unignore = update-index --no-assume-unchanged
    # Thank you, CIA
    unmerged = ! git branch --no-merged | grep -v '\\*\\|master\\|develop'
    cleanup = ! git branch --merged | grep -v \"^* master$\" | grep -v \"^ master$\" | xargs git branch -d
    alias = ! git config --get-regexp ^alias\\. | sed -e s/^alias\\.// -e s/\\ /\\ =\\ /
    undo = reset HEAD~1
    pusherino = push
    pullerino = pull
    pushini = push
    pulleroni = pull

[fetch]
	prune = true
[merge]
	tool = vimdiff
	stat = true
[log]
	decorate = full
