#include ".cache/wal/colors.Xresources"

*.background: #1D1F21
*.foreground: #C5C8C6

URxvt.font: xft:LiterationMonoPowerline Nerd Font:size=10
URxvt.keysym.Shift-Control-V: perl:clipboard:paste
URxvt.iso14755: False
URxvt.perl-ext-common: default,clipboard
URxvt.scrollBar: False

Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

Xcursor.theme: Breeze
Xcursor.size: 0


XTerm*reverseVideo: on
XTerm*faceName: HackRegular:size=11:antialias=true
XTerm*selectToClipboard: true

! URxvt SETUP HERE !
URxvt.internalBorder: 20
URxvt.depth: 32
URxvt.background: [90]#1D1F21
URxvt*scrollBar: false
URxvt*mouseWheelScrollPage: false
URxvt*cursorBlink: true
URxvt*.background: #1D1F21
URxvt*saveLines: 5000
URxvt.termName: xterm-256color
URxvt.reverseVideo: True
URxvt.letterSpace: -1

rofi.separator-style: solid
rofi.sidebar-mode: true
rofi.lines: 5
rofi.font: Hack Regular 12
rofi.bw: 1
rofi.columns: 1
rofi.padding: 5
rofi.fixed-num-lines: true
rofi.hide-scrollbar: true

