[Unit]
Description=Gollum wiki server
After=network.target

[Service]
Type=simple
User=%i
ExecStart=/usr/bin/gollum "/var/gollum/wiki"
Restart=on-abort

[Install]
WantedBy=default.target
