[Unit]
Description=Gollum wiki server
After=network.target

[Service]
Type=simple
ExecStart=/home/fox/bin/gollum --config /var/gollum/config.rb "/var/gollum/wiki"
Restart=on-abort
EnvironmentFile=/var/gollum/gollum.env

[Install]
WantedBy=default.target
